<!-- Footer -->
<footer class="footer" id="footer" style="background-color: #111; color: #ddd; padding: 30px 0;">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-6 text-left">
        <h4 class="text-uppercase" style="color: #ffffff; font-size: 1rem;">CHOIS</h4>
        <p style="font-size: 0.85rem;">초이스</p>
<!--        <p style="font-size: 0.85rem;">사업자등록번호 362-81-00644</p>-->
        <p style="font-size: 0.85rem;">서울시 동작구</p>
      </div>

      <!-- Contact Info -->
      <div class="col-md-6 text-left">
        <h4 class="text-uppercase" style="color: #ffffff; font-size: 1rem;">연락처</h4>
        <p style="font-size: 0.85rem; color: #ddd;">010-2841-1015</p>
        <p style="font-size: 0.85rem; color: #ddd;">chlgusdn3@naver.com</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->